.main_div{
    width: 90%;
    height: 1000px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
}

.div1{
    width: 30%;
    height: 1000px;
    /* border: 1px solid black; */
    margin-top: -800px;
}
.div2{
    width: 70%;
    height: 1000px;
    /* border: 1px solid black; */
    margin-top: -800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    gap: 35px;
}
img{
    width: 190px;
    height: 120px;
}

.category{
    width: 70%;
    padding: 10px 10px;
    margin-left: 40px;
    
}
.h5{
    margin-left: 140px;
}

.filterbtn{
    margin-top: 50px;
}

.filterbtn button:hover{
    background-color: blueviolet;
    color: chartreuse;
}